.about {
    padding: 2%;
    max-height: 100vh;
    overflow-y: scroll
}
.about h2 {
    padding: 2%;
    color: #FDCB17;
}

.about a {
    color: gray;
    font-size: 3em;
    transition: .5s;
}

.about a:hover {
    color: #FDCB17;
    
}
